%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{minimum_otp_vsn, "21.3"}.

{erl_opts, [debug_info]}.

%% Set OS env var AE_ROOT to point to the desired version of aeternity
%% The logic in rebar.config.script will import the right versions of deps
%% from the aeternity code base, any time a matching dependency is given as an atom
{deps, [
        cowboy,
        aeserialization,
        jsx
       ]}.
